{
  "openapi": "3.0.0",
  "info": {
    "title": "Bizongo Integration Gateway",
    "version": "1.0",
    "description": "API contracts to integrate client applications with Bizongo's internal applications for order creation and tracking",
    "contact": {
      "name": "Product Intelligence",
      "url": "bizongo.com",
      "email": "intelligence@bizongo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bizongo.in",
      "description": "Production"
    },
    {
      "description": "Staging",
      "url": "https://api.demo.bizongo.in"
    }
  ],
  "paths": {
    "/purchase-orders": {
      "get": {
        "summary": "Get Purchase Orders",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "purchase_orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purchase_order_number": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "sub_total": {
                            "type": "number"
                          },
                          "purchase_order_item_count": {
                            "type": "integer"
                          },
                          "total": {
                            "type": "number"
                          },
                          "tax": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "item_code": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "open_quantity": {
                                  "type": "number"
                                },
                                "created_at": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example Response": {
                    "value": {
                      "total_count": 1,
                      "purchase_orders": [
                        {
                          "purchase_order_number": "9066d9",
                          "sub_total": 6475,
                          "total": 7640.5,
                          "tax": 1165.5,
                          "created_at": "2020-06-13T22:48:54.262+05:30",
                          "items": [
                            {
                              "item_code": "2311LK",
                              "quantity": 100,
                              "open_quantity": 100,
                              "created_at": "2020-06-13T22:48:54.371+05:30"
                            },
                            {
                              "item_code": "2310LK",
                              "quantity": 50,
                              "open_quantity": 50,
                              "created_at": "2020-06-13T22:48:54.337+05:30"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": ""
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "operationId": "get-procure-plus-purchase-orders",
        "description": "Gets a list of purchase orders for a given company ID, identified by email address and a key based authentication",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "Page number\n"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "per_page",
            "description": "Page Size"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "purchase_order_number",
            "description": "PO number"
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create Purchase Order",
        "operationId": "post-purchase-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "purchase_order": {
                      "type": "object",
                      "properties": {
                        "purchase_order_number": {
                          "type": "string"
                        },
                        "subtotal": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "tax": {
                          "type": "number"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "item_code": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "quantity": {
                              "type": "number"
                            },
                            "price_per_unit": {
                              "type": "number"
                            }
                          }
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "street_address": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "pincode": {
                              "type": "string"
                            },
                            "mobile_number": {
                              "type": "string"
                            },
                            "gstin": {
                              "type": "string"
                            },
                            "company_name": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "buyer_warehouse_code": {
                              "type": "string"
                            },
                            "alias": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "delivery_requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expected_delivery_date": {
                            "type": "string"
                          },
                          "order_id": {
                            "type": "string"
                          },
                          "shipping_address": {
                            "type": "object",
                            "properties": {
                              "street_address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "pincode": {
                                "type": "string"
                              },
                              "mobile_number": {
                                "type": "string"
                              },
                              "gstin": {
                                "type": "string"
                              },
                              "company_name": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "buyer_warehouse_code": {
                                "type": "string"
                              },
                              "alias": {
                                "type": "string"
                              }
                            }
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "item_code": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "created_at": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response for PO with Deliveries": {
                    "value": {
                      "purchase_order": {
                        "billing_address": {
                          "street_address": "No. 36/2C, Pattanagere main road,India Location Code: 91727923, RajaRajeshwarinagar, (near Metro Cash and Carry Mysuru road",
                          "city": "Bangalore",
                          "state": "Karnataka",
                          "pincode": 560059,
                          "mobile_number": "8050021583",
                          "state_code": "KA",
                          "gstin": "29AAICA3768J1ZE",
                          "alias": "UBL5",
                          "full_name": "Kuldeep",
                          "company_name": "Acme Corporation",
                          "country": "India",
                          "created_at": "2019-10-17T18:14:06.069+05:30",
                          "updated_at": "2020-06-08T23:10:31.376+05:30",
                          "buyer_warehouse_code": "24945_LK"
                        },
                        "purchase_order_number": "9009",
                        "sub_total": 6475,
                        "total": 7640.5,
                        "tax": 1165.5,
                        "created_at": "2020-06-15T17:22:11.397+05:30",
                        "items": [
                          {
                            "item_code": "2310LK",
                            "quantity": 50,
                            "created_at": "2020-06-15T17:22:11.439+05:30",
                            "price_per_unit": 55.5
                          },
                          {
                            "item_code": "2311LK",
                            "quantity": 100,
                            "created_at": "2020-06-15T17:22:11.476+05:30",
                            "price_per_unit": 37
                          }
                        ]
                      },
                      "delivery_requests": [
                        {
                          "expected_delivery_date": "2020-06-16 00:00:00 +0530",
                          "order_id": "LK02",
                          "shipping_address": {
                            "street_address": "SINDHI CAMP, PATRA CHAWL, RAILWAY COLONY, SABLE NAGAR NR BLDG NO.13, KURLA WEST, Mumbai City",
                            "city": "Mumbai",
                            "state": "Maharashtra",
                            "pincode": 400024,
                            "mobile_number": "+917900161987",
                            "gstin": "27AFXPG6105L1ZZ",
                            "alias": "DL_0001",
                            "full_name": "Mantu",
                            "company_name": "Acme Corporation",
                            "country": "India",
                            "created_at": "2020-06-15T17:21:04.762+05:30",
                            "updated_at": "2020-06-15T17:21:04.762+05:30",
                            "buyer_warehouse_code": "DL-01"
                          },
                          "items": [
                            {
                              "item_code": "2311LK",
                              "quantity": 50,
                              "created_at": "2020-06-15T17:22:11.834+05:30"
                            }
                          ]
                        },
                        {
                          "expected_delivery_date": "2020-06-16 00:00:00 +0530",
                          "order_id": "LK01",
                          "shipping_address": {
                            "street_address": "SINDHI CAMP, PATRA CHAWL, RAILWAY COLONY, SABLE NAGAR NR BLDG NO.13, KURLA WEST, Mumbai City",
                            "city": "Mumbai",
                            "state": "Maharashtra",
                            "pincode": 400024,
                            "mobile_number": "+917900161987",
                            "gstin": "27AFXPG68785L1ZZ",
                            "alias": "DL_0001",
                            "full_name": "Mantu",
                            "company_name": "Acme Corporation",
                            "country": "India",
                            "created_at": "2020-06-15T17:21:04.762+05:30",
                            "updated_at": "2020-06-15T17:21:04.762+05:30",
                            "buyer_warehouse_code": "DL-01"
                          },
                          "items": [
                            {
                              "item_code": "2311LK",
                              "quantity": 50,
                              "created_at": "2020-06-15T17:22:11.738+05:30"
                            },
                            {
                              "item_code": "2310LK",
                              "quantity": 50,
                              "created_at": "2020-06-15T17:22:11.693+05:30"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "Response for PO only": {
                    "value": {
                      "purchase_order": {
                        "billing_address": {
                          "street_address": "No. 36/2C, Pattanagere main road,India Location Code: 91727923, RajaRajeshwarinagar, (near Metro Cash and Carry Mysuru road",
                          "city": "Bangalore",
                          "state": "Karnataka",
                          "pincode": 560059,
                          "mobile_number": "8050021583",
                          "state_code": "KA",
                          "gstin": "29AAICA6718J1ZE",
                          "gstin_state_code": "29",
                          "alias": "UBL5",
                          "full_name": "Kuldeep",
                          "company_name": "Acme Corporation",
                          "country": "India",
                          "created_at": "2019-10-17T18:14:06.069+05:30",
                          "updated_at": "2020-06-08T23:10:31.376+05:30",
                          "buyer_warehouse_code": "24945_LK"
                        },
                        "purchase_order_number": "9009",
                        "sub_total": 6475,
                        "total": 7640.5,
                        "tax": 1165.5,
                        "created_at": "2020-06-15T17:22:11.397+05:30",
                        "items": [
                          {
                            "item_code": "2310LK",
                            "quantity": 50,
                            "created_at": "2020-06-15T17:22:11.439+05:30",
                            "price_per_unit": 55.5
                          },
                          {
                            "item_code": "2311LK",
                            "quantity": 100,
                            "created_at": "2020-06-15T17:22:11.476+05:30",
                            "price_per_unit": 37
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "description": "Create a single purchase order with one or many deliveries. Purchase orders must contain a valid billing address code, which will be mapped to a smartpaddle company before the engagement begins.\n\nPurchase order requests must also contain a valid Bizongo supplier id which is one of Smartpaddle Technology Pvt. Ltd. (SPTPL) entities. Your account manager will share the correct entity code with you.\n\nBilling address codes must exist on the system with a clear identifier that both systems agree and sync on.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purchase_order": {
                    "type": "object",
                    "description": "",
                    "required": [
                      "purchase_order_number",
                      "billing_address",
                      "po_date",
                      "items",
                      "supplier_id"
                    ],
                    "properties": {
                      "purchase_order_number": {
                        "type": "string",
                        "example": "ACME-0122811"
                      },
                      "billing_address": {
                        "type": "string",
                        "example": "762251",
                        "description": "Billing address identifier (buyer_warehouse_code) of the address stored on Bizongo"
                      },
                      "po_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2021-12-31",
                        "minLength": 10,
                        "maxLength": 10
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "item_code": {
                              "type": "string"
                            },
                            "total_quantity": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "item_code",
                            "total_quantity"
                          ]
                        }
                      },
                      "supplier_id": {
                        "type": "number",
                        "enum": [
                          7746,
                          9508,
                          9816,
                          4606
                        ],
                        "example": 7746,
                        "default": 0
                      }
                    }
                  },
                  "delivery_requests": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "type": "string",
                          "description": "String based order ID for each delivery, if this is blank, Bizongo will generate one"
                        },
                        "delivery_date": {
                          "type": "string",
                          "example": "YYYY-MM-DD",
                          "description": "Must be a string formatted in YYYY-MM-DD"
                        },
                        "shipping_address": {
                          "type": "object",
                          "required": [
                            "street_address",
                            "city",
                            "state",
                            "mobile_number",
                            "full_name"
                          ],
                          "properties": {
                            "street_address": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "mobile_number": {
                              "type": "string",
                              "maxLength": 13,
                              "minLength": 13,
                              "pattern": "",
                              "example": "+919820098200",
                              "description": "Mobile number of the person at the delivery address for the courier to contact"
                            },
                            "gstin": {
                              "type": "string",
                              "description": "GSTIN is required if this is a billing address"
                            },
                            "alias": {
                              "type": "string",
                              "description": "Must give a unique identifier of address, if it is to be persisted at Bizongo"
                            },
                            "full_name": {
                              "type": "string",
                              "description": "Name of the person at the delivery address for courier partner to contact"
                            },
                            "buyer_warehouse_code": {
                              "type": "string",
                              "description": "Unique code for the delivery location, can be similar to alias"
                            }
                          }
                        },
                        "product_distribution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "item_code": {
                                "type": "string"
                              },
                              "quantity": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "item_code",
                              "quantity"
                            ]
                          }
                        }
                      },
                      "required": [
                        "shipping_address"
                      ]
                    }
                  }
                },
                "required": [
                  "purchase_order"
                ]
              },
              "examples": {
                "Example Request with Deliveries": {
                  "value": {
                    "purchase_order": {
                      "purchase_order_number": "90009",
                      "billing_address": "24945_LK",
                      "items": [
                        {
                          "item_code": "2310LK",
                          "total_quantity": 50
                        },
                        {
                          "item_code": "2311LK",
                          "total_quantity": 100
                        }
                      ]
                    },
                    "delivery_requests": [
                      {
                        "delivery_date": "2020-06-16",
                        "shipping_address": {
                          "street_address": "SINDHI CAMP, PATRA CHAWL, RAILWAY COLONY, SABLE NAGAR NR BLDG NO.13, KURLA WEST, Mumbai City",
                          "city": "Mumbai",
                          "state": "Maharashtra",
                          "pincode": "400024",
                          "mobile_number": "+917900160982",
                          "gstin": "27AFXPG6105L1Z6",
                          "alias": "DL_0001",
                          "full_name": "Mantu",
                          "company_name": "Argus Flich",
                          "buyer_warehouse_code": "FL-01"
                        },
                        "order_id": "LK01",
                        "product_distribution": [
                          {
                            "item_code": "2310LK",
                            "quantity": 50
                          },
                          {
                            "item_code": "2311LK",
                            "quantity": 50
                          }
                        ]
                      },
                      {
                        "delivery_date": "2020-06-16",
                        "order_id": "LK02",
                        "shipping_address": {
                          "street_address": "SINDHI CAMP, PATRA CHAWL, RAILWAY COLONY, SABLE NAGAR NR BLDG NO.13, KURLA WEST, Mumbai City",
                          "city": "Mumbai",
                          "state": "Maharashtra",
                          "pincode": "400024",
                          "mobile_number": "+917900161987",
                          "gstin": "27AFXPG6105L12Z",
                          "alias": "D01",
                          "full_name": "Mrs Norris",
                          "company_name": "Norris Enterprises",
                          "buyer_warehouse_code": "N01"
                        },
                        "product_distribution": [
                          {
                            "item_code": "2311LK",
                            "quantity": 50
                          }
                        ]
                      }
                    ]
                  }
                },
                "Example without Deliveries": {
                  "value": {
                    "purchase_order": {
                      "purchase_order_number": "90009",
                      "billing_address": "24945_LK",
                      "items": [
                        {
                          "item_code": "2310LK",
                          "total_quantity": 50
                        },
                        {
                          "item_code": "2311LK",
                          "total_quantity": 100
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delivery-requests": {
      "get": {
        "summary": "Get all deliveries",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    },
                    "delivery_requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delivery_date": {
                            "type": "string"
                          },
                          "order_id": {
                            "type": "string"
                          },
                          "shipping_address": {
                            "type": "object",
                            "properties": {
                              "street_address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "pincode": {
                                "type": "string"
                              },
                              "mobile_number": {
                                "type": "string",
                                "pattern": "^(\\+\\d{1,3})\\d{10}$",
                                "minLength": 10,
                                "maxLength": 13
                              },
                              "state_code": {
                                "type": "string"
                              },
                              "gstin": {
                                "type": "string"
                              },
                              "gstin_state_code": {
                                "type": "string"
                              },
                              "alias": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "company_name": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            }
                          },
                          "items": {
                            "type": "object",
                            "properties": {
                              "quantity": {
                                "type": "number"
                              },
                              "open_quantity": {
                                "type": "number"
                              }
                            }
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "buyer_invoice_url": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "ready_to_ship",
                                    "dispatched",
                                    "delivered",
                                    "cancelled",
                                    "could_not_deliver",
                                    "shipment_lost",
                                    "returned"
                                  ]
                                },
                                "courier": {
                                  "type": "string"
                                },
                                "tracking_id": {
                                  "type": "string"
                                },
                                "tracking_link": {
                                  "type": "string"
                                },
                                "tracking_details": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "object",
                                        "properties": {
                                          "city": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "event_type": {
                                        "type": "string"
                                      },
                                      "arrival_time": {
                                        "type": "string"
                                      },
                                      "arrival_location": {
                                        "type": "string"
                                      },
                                      "event_description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When the delivery was created"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When was the last update on the delivery"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example Response": {
                    "value": {
                      "total_count": 1,
                      "delivery_requests": [
                        {
                          "delivery_date": "2019-10-28 00:00:00 +0530",
                          "order_id": "EX-63402",
                          "shipping_address": {
                            "street_address": "132/ Scorpio House Whelers road Frazer town ",
                            "city": "Bangalore",
                            "state": "Karnataka",
                            "pincode": 560005,
                            "mobile_number": "9880701807",
                            "state_code": "KA",
                            "gstin": "29AAFCA5016B1Z2",
                            "gstin_state_code": "29",
                            "alias": "BLRL",
                            "full_name": "Argus Filch",
                            "company_name": "Acme Corporation",
                            "country": "India",
                            "created_at": "2019-05-24T11:56:13.244+05:30",
                            "updated_at": "2019-10-07T14:56:29.554+05:30"
                          },
                          "items": [
                            {
                              "quantity": 1200,
                              "open_quantity": 0
                            },
                            {
                              "quantity": 1200,
                              "open_quantity": 0
                            },
                            {
                              "quantity": 1200,
                              "open_quantity": 0
                            }
                          ],
                          "shipments": [
                            {
                              "id": 104481,
                              "buyer_invoice_url": "https://some_link.pdf",
                              "status": "dispatched",
                              "courier": "Spoton Bangalore",
                              "tracking_id": "521511947",
                              "tracking_link": "521511947",
                              "tracking_details": [
                                {
                                  "address": {
                                    "city": "PaontSahib_Gurudwar_D (Himachal Pradesh)"
                                  },
                                  "event_type": "Delivered",
                                  "arrival_time": "2020-03-14 18:11:03",
                                  "arrival_location": "PaontSahib_Gurudwar_D (Himachal Pradesh)",
                                  "event_description": "Shipment Delivered"
                                },
                                {
                                  "address": {
                                    "city": "PaontSahib_Gurudwar_D (Himachal Pradesh)"
                                  },
                                  "event_type": "OutForDelivery",
                                  "arrival_time": "2020-03-14 10:37:18",
                                  "arrival_location": "PaontSahib_Gurudwar_D (Himachal Pradesh)",
                                  "event_description": "Out for delivery"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "Empty Response": {
                    "value": {
                      "total_count": 0,
                      "delivery_requests": []
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-delivery_request_items-elastic-index",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "page",
            "description": "By default, the page size will be 1"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "per_page",
            "description": "Page size will be set at a default of 10 records, a max of 50 records can be requested"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order_id",
            "description": "Order ID which was sent by client or was generated by Bizongo\n"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "purchase_order_number",
            "description": "Purchase Order Number sent by client during PO creation or the one that Bizongo generated"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "created_at",
            "description": "Order creation date, many orders may have been created on this date, use with pagination"
          }
        ],
        "description": "Get all deliveries in any status, filtered by order ID, purchase order number and paginated."
      },
      "post": {
        "summary": "Create a delivery request",
        "operationId": "post-delivery_request_items-elastic-index",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivery_requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delivery_date": {
                            "type": "string",
                            "description": "Final delivery date confirmed by Bizongo"
                          },
                          "buyer_warehouse_code": {
                            "type": "string"
                          },
                          "shipping_address": {
                            "type": "object",
                            "properties": {
                              "street_address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "pincode": {
                                "type": "string"
                              },
                              "mobile_number": {
                                "type": "string"
                              },
                              "gstin": {
                                "type": "string"
                              },
                              "alias": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "company_name": {
                                "type": "string"
                              },
                              "buyer_warehouse_code": {
                                "type": "string"
                              }
                            }
                          },
                          "order_id": {
                            "type": "string"
                          },
                          "delivery_request_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "item_code": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example Response": {
                    "value": {
                      "delivery_requests": [
                        {
                          "delivery_date": "2020-06-16",
                          "buyer_warehouse_code": "24943_LK",
                          "shipping_address": {
                            "street_address": "SINDHI CAMP, PATRA CHAWL, RAILWAY COLONY, SABLE NAGAR NR BLDG NO.13, KURLA WEST, Mumbai City",
                            "city": "Mumbai",
                            "state": "Maharashtra",
                            "pincode": "400024",
                            "mobile_number": "+917900161987",
                            "gstin": "36AAICA3918J1ZJ",
                            "alias": "DL_01",
                            "full_name": "Argus Filch",
                            "company_name": "Acme Corporation",
                            "buyer_warehouse_code": "DL1091"
                          },
                          "order_id": "EX-122911",
                          "delivery_request_items": [
                            {
                              "item_code": "2311LK",
                              "quantity": 50
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "description": "Deliveries are created in a purchase order, if for all items of deliveries, the purchase order has any pending items and quantities in it.\n\nIf delivery requests contain the same item with requested delivery dates, but same location - and if the Bizongo system calculates that the expected delivery date is same for such requests, then we will auto-merge the deliveries.\n\nShipping address requires GSTIN",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purchase_order_number": {
                    "type": "string"
                  },
                  "delivery_requests": {
                    "type": "object",
                    "required": [
                      "buyer_warehouse_code",
                      "delivery_request_items"
                    ],
                    "properties": {
                      "requested_delivery_date": {
                        "type": "string",
                        "description": "Requested delivery date by client"
                      },
                      "buyer_warehouse_code": {
                        "type": "string"
                      },
                      "delivery_request_items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "item_code": {
                              "type": "string"
                            },
                            "quantity": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "item_code",
                            "quantity"
                          ]
                        }
                      },
                      "order_id": {
                        "type": "string",
                        "description": "Optional Order ID to track orders with, if sent, Bizongo will generate one"
                      },
                      "shipping_address": {
                        "type": "object",
                        "properties": {
                          "street_address": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "pincode": {
                            "type": "string"
                          },
                          "mobile_number": {
                            "type": "string",
                            "description": "Mobile number of the person at delivery location for courier to contact",
                            "minLength": 13,
                            "maxLength": 13,
                            "pattern": "",
                            "example": "+919820098200"
                          },
                          "gstin": {
                            "type": "string"
                          },
                          "alias": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string",
                            "description": "Name of the person at delivery location for courier to contact"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "buyer_warehouse_code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "street_address",
                          "city",
                          "state",
                          "pincode",
                          "mobile_number",
                          "full_name",
                          "buyer_warehouse_code"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "purchase_order_number",
                  "delivery_requests"
                ]
              },
              "examples": {
                "Example Request": {
                  "value": {
                    "po_number": "7Y-9069",
                    "delivery_requests": [
                      {
                        "requested_delivery_date": "2020-06-16",
                        "buyer_warehouse_code": "24943_LK",
                        "shipping_address": {
                          "street_address": "SINDHI CAMP, PATRA CHAWL, RAILWAY COLONY, SABLE NAGAR NR BLDG NO.13, KURLA WEST, Mumbai City",
                          "city": "Mumbai",
                          "state": "Maharashtra",
                          "pincode": "400024",
                          "mobile_number": "+917900161987",
                          "gstin": "36AAICA3918J1ZJ",
                          "alias": "DL_01",
                          "full_name": "Argus Filch",
                          "company_name": "Acme Corporation",
                          "buyer_warehouse_code": "DL1091"
                        },
                        "order_id": "EX-122911",
                        "delivery_request_items": [
                          {
                            "item_code": "2311LK",
                            "quantity": 50
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "AuthToken": {
        "name": "AuthToken",
        "type": "apiKey",
        "in": "header",
        "description": "Token generated by Bizongo team"
      },
      "Email": {
        "type": "apiKey",
        "in": "header",
        "name": "Email",
        "description": "Email ID against which token is generated, this ID must be having procure live access."
      }
    }
  },
  "security": [
    {
      "AuthToken": []
    },
    {
      "Email": []
    }
  ]
}